ion-content {
    --background: #f2f2f2;
  }
  
  ion-item {
    --background: white;
    margin: 10px 0;
    border-radius: 8px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  
    span {
      margin: 0 10px;
    }
  }
  
  