<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-row style="align-items: center;">
        <ion-col size="auto">
          <img src="assets/images.jpeg" alt="Meu Pokémon" style="height: 32px; width: auto;">
        </ion-col>
        <ion-col size="auto" style="color: green; font-family: Arial, sans-serif; text-shadow: 2px 2px 4px rgba(0,0,0,0.3); text-align: center;">
          Pokémon
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div class="welcome-container">
    <h1 class="welcome-text">Bem-Vindo</h1>
  </div>
</ion-content>







